.section-team {
  background: var(--team-background-color);
  padding: 94px 0;
}

.section-team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.team-block {
  padding: 30px 0px 30px 0px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

/* Social Media link */

.team-list__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  list-style: none;
  gap: 10px;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: #afb1b8;
  transition: var(--anim-bg-slow);

  &:hover,
  &:focus {
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.team-social__svg {
  fill: currentColor;
}
