.logo {
  font-family: $secondaryFont;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.header-logo {
  color: var(--primary-text-color);
}

.footer-logo {
  color: var(--white-color);
}
