.portfolio {
  @extend %section;

  @include mq(desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// Portfolio navigation
.portfolio__nav-list {
  @extend %list;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;

  @include mq(mob-only) {
    max-width: 326px;
  }

  @include mq(tab) {
    flex-wrap: nowrap;
    justify-content: center;

    margin-bottom: 30px;
  }

  @include mq(desk) {
    margin-bottom: 50px;
  }
}
